<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Hero Sidebar</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='') }}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='') }}css/keen-dashboards.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='') }}css/trip.css" />
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="./">Layouts &raquo; Hero Sidebar</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="https://keen.io">Home</a></li>
          <li><a href="https://keen.io/team">Team</a></li>
          <li><a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-sidebar">Source</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/keen-io-devs">Community</a></li><li><a href="http://stackoverflow.com/questions/tagged/keen-io?sort=newest&pageSize=15">Technical Support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Choose day
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="javascript:show_overview()">Overview</a></li>
        {% for day in days %}
        <li><a href="javascript:switch_day({{day.day}})">Day {{day.day}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Events
          </div>
          <div class="chart-stage" id="events_list">
            
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Description
              </div>
              <div class="chart-stage" id="event_description">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Map
              </div>
              <div id="map" class="chart-stage">
                
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/bootstrap.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/keen.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/meta.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/trip.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=places"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/map.js"></script>

  <script>init({{ days|tojson|safe }});initMap({{ days|tojson|safe }});</script>

</body>
</html>